# /.npmrc
# 
# This is used as the main 
# configuration file for npm.
# 
#	Copyright (C) 2022, Anokidev. All right reserved.
# OpenCalculator is open source and is licensed in MIT License.

engine-strict=true